[Desktop Entry]
Encoding=UTF-8
Name=Link to Radar - a tool for debugging regression problems in C/C++ software - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=pAdh2gUZVrU
Icon=text-html
Name[en_US]=Youtube: Radar-Demo_Video
